<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration doc:name="Configuration" doc:id="a3dd03d1-7deb-44a2-8172-1cc7be9f1981" defaultErrorHandler-ref="errorsError_Handler" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="860e0558-9c2f-4171-90bf-d77c67327d26" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="3ba1765a-bb4a-49d3-8f5c-2e68e343e599" name="Router" api="resource::9bd5b47e-cf0d-4e84-b2a2-4a30cf2058cd:prc-menulist-api:1.0.0:raml:zip:exp-menulist-api.raml" />
</mule>
